.header {
    background: #fff;
    height: 70vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    justify-content: center!important;
    padding: 7%;
    font-family: 'Questrial', sans-serif;
}

.header h1 {
    font-size: 4rem;
}

.diagonal {
    position: absolute;
    top: -33vh;
    right: -15vw;
    width: 55%;
    height: 80vh;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    z-index: 0;
    background: linear-gradient(to right,#fff 0,#e2e7ef 100%);
}

.headerContent {
    z-index: 2;
    position: absolute;
    padding-top: 15vh;
    width: 100vw;
}

.gradientBox {

}