.container {

    //text-align: center;
    //justify-content: center!important;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}



.spaceImg {
    padding: 20px;
    margin: 20px;
    height: 40vh;
    width: auto
}